doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='shortcut icon', href='/images/icon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    link(href='/spider-man.css', rel='stylesheet')
    title TKCD.GAMES | Spider PS4
  body
    // BARRA DE NAVEGACION
    nav.navbar.navbar-expand-md.navbar-dark.bg-light.sticky-top
      .container-fluid
        a.navbar-brand(href='/')
          i.fab.fa-ethereum
          span.eslogan TKCD.GAMES
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='#') Connect
    section.seccionBlanca
      div
        div
          img(src='img/Marvel.png', alt='')
        h2.spider
          | Spider-Man
          br
          span.span1  PS4
        p.texto1
          | When a new villain threatens in New York City, there is a collision between the world of Peter Parker and that of Spider-Man.
          | To save the city and those it loves, it must react and surpass itself.
        p.texto1
          | Sony Interactive Entertainment, Insomniac Games and Marvel have teamed up to create a totally new and authentic Spider-Man
          | adventure. It's not about the Spider-Man you've met before or seen elsewhere. Here we will find an experienced
          | Peter Parker, much more skilled in his fight against organized crime in the city of Marvel's New York. At
          | the same time, he struggles to find a balance between his chaotic personal life and his profession, while
          | the fate of millions of New Yorkers rests on his shoulders.
        p.texto1
          | As an experienced Spider-Man, with years of fighting crime, Peter Parker perfectly masters his powerful arachnid sense, his
          | dynamic and acrobatic skills and his new costume.
        h3 The New York City of the Marvel universe is your playground
        p.texto1
          | he Big Apple comes to life as the most expansive and interactive world created by Insomniac to date. Scroll through vibrant
          | neighborhoods and enjoy stunning views of iconic Marvel and Manhattan landmarks. Take advantage of the environment
          | to defeat the villains with epic attacks worthy of a true cinematic action.
        p.texto2
          | Continue your adventures in New York City from the Marvel universe with Marvel's Spider-Man: The city that never sleeps.
          | Get access to three chapters with post-launch stories that include additional missions and challenges, new factions of enemies
          | from the Marvel's Spider-Man universe and more costumes to unlock.
      .imgBlanca
        img(src='img/spiderman2.jpg', alt='hojas rojas')
    // - Footer
    footer
      .container-fluid.padding
        .row.text-center
          .col-md-4
            i.fab.fa-ethereum
            span.eslogan TKCD.GAMES
            // - AQUI
            hr.light
            p 12345-6789-1011
            p bestogroup@gmail.com
            p Boulevard de los Proceres
            p Antiguo Cuscatlan, La Libertad, El Salvador
          .col-md-4
            hr.light
            h5 About Us
            hr.light
            p
            p Spider-Man PS4
            p
          .col-md-4
            hr.light
            h5 Privacy Terms
            hr.light
            p Nos guardamos los derechos de autoria
            p
            p
          .col-12
            hr.light-100
            h5 ©2018 TKCD.GAMES, All rights reserved.