doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='shortcut icon', href='/images/icon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    link(href='superSmash.css', rel='stylesheet')
    title TKCD.GAMES |Super Smash Bros
  body
    // BARRA DE NAVEGACION
    nav.navbar.navbar-expand-md.navbar-dark.bg-light.sticky-top
      .container-fluid
        a.navbar-brand(href='/')
          i.fab.fa-ethereum
          span.eslogan TKCD.GAMES
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='#') Connect
    section.seccionBlanca
      div
        img(src='../imagenes/1024px-Super_Smash_Bros_2018_logo.svg.png', alt='')
        .fondo
          h2.spider
            | Super Smash Bros
            br
            span.span1  Ultimate 
            hr
          h3 Characters
          p.texto1
            | Super Smash Bros. Ultimate, like other video games from the Super Smash Bros. series, features a crossover of fighters from
            | different Nintendo franchises such as the Mario and Metroid videogame series as well as iconic fighters
            | from third-party properties, such as Pac -Man, Cloud Strife, Solid Snake and Mega Man. Ultimate includes
            | all the characters of the previous titles of Super Smash Bros., including those offered through downloadable
            | content in Super Smash Bros. for Nintendo 3DS and Wii U. In addition, The concept of the "Echo Fighters"
            | was introduced, characters that were previously based on a fighter and only changed their aesthetic appearance
            | and some minor changes in their statistics or movement sets. These characters are treated as unique characters
            | within the list of Ultimate wrestlers. For example, Princess Daisy of the Mario franchise is an individual
            | Echo Fighter in Ultimate (previously only represented as a change in Princess Peach's color palette)
            | The new fighters in this installment include the Splatoon Inklings. Ridley and Dark Samus from the
            | Metroid series, the vampire hunters Simon Belmont and Ritcher from Castlevania, Chrom from Fire Emblem,
            | the antagonist from Donkey Kong Country, King K. Rool, and Isabelle or also known as Cinnamon, from Animal
            | Crossing, Ken, as an echo of Ryu, Incineroar and as an additional character to an early purchase since
            | the launch of the game, Piranha Plant, from the Mario Bros universe. The total list to date of playable
            | characters in Ultimate is 74, the highest number of characters playable games of all Super Smash Bros.
            | videogames Several of the characters have received updates on their outfits, such as Mario accompanied
            | by Cappy from Super Mario Odyssey and Link with his outfit The Legend of Zelda: Breath of the Wild.
            | Some characters will have alternative variations of their outfits, which can be select or choose randomly.
            | For example, Bowser Jr. will have several selectable appearances represented by the other Koopalings,
            | but they possess the same set of powers and abilities.
      .imgBlanca
        img(src='../imagenes/sma.jpg', alt='hojas rojas')
    // - Footer
    footer
      .container-fluid.padding
        .row.text-center
          .col-md-4
            i.fab.fa-ethereum
            span.eslogan TKCD.GAMES
            // - AQUI
            hr.light
            p 12345-6789-1011
            p bestogroup@gmail.com
            p Boulevard de los Proceres
            p Antiguo Cuscatlan, La Libertad, El Salvador
          .col-md-4
            hr.light
            h5 About Us
            hr.light
            p
            p Super Smash Bros 2018
            p
          .col-md-4
            hr.light
            h5 Privacy Terms
            hr.light
            p Nos guardamos los derechos de autoria
            p
            p
          .col-12
            hr.light-100
            h5 ©2018 TKCD.GAMES, All rights reserved.