@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,700");

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    
}

.eslogan {
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 1.7em;
    font-weight: 600;
    color: #ffffff;
    margin-left: 0.2rem;
}

.navbar {
    padding: 0.8rem;
}

.fa-ethereum {
    font-size: 2em;
    color: rgba(245, 109, 57, 1);
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
    color: #ffffff;
}

.seccionBlanca div {
    padding: 0 5%;
}

.seccionBlanca {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1em;
    text-align: justify;
    padding: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/spiderman1.jpg');
    
}

.texto1{ 
    font-size: 0.9rem; 
    color: whitesmoke;
}

.texto2{
    color: #D0D3D4;
}

.spider{
    color: #E53935;
}

.span1{
    color: #B71C1C;
}

h3{
    color: #909497;
}

.imgBlanca img{
    width: 100%;
    padding-top: 110%;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.bg-light {
    background-color: rgba(30, 38, 44, 1) !important;
}

@media (max-width: 576px) {
    
    .eslogan {
        top: -7px;
        font-size: 1em;
    }
    
}

@media  only screen and (max-width: 750px){
    .texto1{ 
        font-size: 0.7rem; 

    }

    .imgBlanca img
    {
        width: 100%;
        padding-top: 10%;
    }

    .seccionBlanca {
        grid-template-columns: 1fr;
    }
}